---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.image.deployment.name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.image.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.image.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.image.label }}
    spec:
      containers:
      - name: {{ .Values.image.deploymentContainer.name }}
        image: {{ .Values.image.deploymentContainer.image }}
        imagePullPolicy: Always
        ports:
            - name: http
              containerPort: {{ .Values.image.service.httpPort }}
        env:
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: openstad-db-credentials
                key: hostname
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: openstad-image-db
                key: database
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: openstad-db-credentials
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: openstad-db-credentials
                key: password
          - name: APP_URL
            value: {{ .Values.host.www }}
          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        resources:
          limits:
            cpu: "1"
            memory: 1Gi
          requests:
            cpu: "250m"
            memory: "500M"
        readinessProbe:
          tcpSocket:
            port: {{ .Values.image.service.httpPort }}
        livenessProbe:
          tcpSocket:
            port: {{ .Values.image.service.httpPort }}
          initialDelaySeconds: {{ .Values.image.probe.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.image.probe.liveness.periodSeconds }}
        volumeMounts:
          - mountPath: /home/app/data
            name: data-vol
      initContainers:
      - name: create-db-ready
        image: {{ .Values.image.deploymentContainer.image }}
        imagePullPolicy: Always
        env:
        - name: DB_NAME
          valueFrom:
              secretKeyRef:
                name: openstad-image-db
                key: database
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: openstad-db-credentials
              key: hostname
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: openstad-db-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: openstad-db-credentials
              key: password
        command: ["/bin/sh","-c"]         
        args: ['knex migrate:latest']    
      volumes:
        - name: data-vol
          persistentVolumeClaim:
            claimName: image-data-claim
