apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: persistence-claim
  namespace: openstad
spec:
  storageClassName: {{ .Values.persistence.storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
