---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.deployment.name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.deploymentContainer.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.deploymentContainer.name }}
    spec:
      containers:
        - name: {{ .Values.frontend.deployment.name }}
          image: {{ .Values.frontend.deploymentContainer.image }}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: {{ .Values.frontend.deploymentContainer.port }}
              protocol: TCP
          env:
            - name: DEFAULT_HOST
              value: {{ .Values.host.www }}
            - name: APP_URL
              value: {{ .Values.host.https }}
            - name: API
              value: {{ (printf "%s.%s.svc.cluster.local" .Values.api.service.name .Release.Namespace ) }}
            - name: IMAGE_API_URL
              value: {{ (printf "%s.%s.svc.cluster.local" .Values.image.service.name .Release.Namespace ) }}
            - name: IMAGE_API_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  key: fixed_token
                  name: openstad-auth-credentials
            - name: HOST_DOMAIN
              valueFrom:
                secretKeyRef:
                  key: frontend
                  name: openstad-hosts
            - name: PORT
              value: {{ .Values.frontend.deploymentContainer.port | quote }}
            - name: SITE_API_KEY
              valueFrom:
                secretKeyRef:
                  key: fixed_token
                  name: openstad-auth-credentials
            - name: MONGO_DB_HOST
              valueFrom:
                secretKeyRef:
                  key: hostname
                  name: openstad-mongo-credentials
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: hostname
                  name: openstad-mongo-credentials
            - name: DEFAULT_DB
              valueFrom:
                secretKeyRef:
                  key: database
                  name: openstad-mongo-credentials
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
          resources:
            limits:
              cpu: 100m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 500M
          volumeMounts:
            - mountPath: /home/app/data
              name: data-vol
          readinessProbe:
            tcpSocket:
              port: {{ .Values.frontend.deploymentContainer.port }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.frontend.deploymentContainer.port }}
            initialDelaySeconds: {{ .Values.frontend.probe.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.frontend.probe.liveness.periodSeconds }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      volumes:
        - emptyDir: {}
          name: data-vol
